@media (max-width: 1550px) {
  .container {
    width: 1200px;
  }
}
@media (max-width: 1250px) {
  .container {
    width: 950px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 550px;
  }
  .equipment {
    height: 1200px;
  }
  .equipment__title {
    text-align: center;
    padding-top: 50px;
  }
  .equipment__slider {
    -webkit-transform: rotate(-90deg) translateY(-35%);
            transform: rotate(-90deg) translateY(-35%);
    height: 360px;
    width: 808px;
    top: 192px;
  }
  .equipment__slider .owl-stage-outer {
    height: 360px;
    width: 808px;
    margin-bottom: 0;
  }
  .equipment__slider .owl-stage-outer .owl-stage {
    height: 360px;
    width: 808px;
  }
  .equipment__slider .owl-nav {
    top: 0;
    -webkit-transform: rotate(-90deg) translateX(-50%);
            transform: rotate(-90deg) translateX(-50%);
    width: 265px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    left: -23%;
  }
  .equipment__slider .owl-dots {
    position: absolute;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: -11%;
    top: 46%;
  }
  .equipment__item {
    -webkit-transform: rotate(90deg) translate(85px, 76px);
            transform: rotate(90deg) translate(85px, 76px);
    width: 353px;
    height: 185px;
    margin-bottom: 25px;
  }
}